@using Store.BlazorWasm.Contracts
@using Store.BlazorWasm.Models
@using System.Globalization
@using Blazored.LocalStorage

@inject IBasketService basketService
@inject NavigationManager navigationManager
@inject ILocalStorageService localStorage
@inject IToastService toastService

<div class="relative inline-block text-left h-full" id="basket_dropdown">
    <div class="flex flex-row justify-between items-center bg-fotofuchsia h-full px-3 cursor-pointer fotofuchsia-ripple" @onclick="ToggleDropdown">
        <span class=" text-white text-sm font-medium">Your Basket:</span>
        <span class=" text-white ml-2">
            <!-- heroicons: shopping-cart -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
        </span>
        <span id="cart-items" class="text-white text-sm ml-2 mr-3 md:mr-2">@appState.BasketItemCount</span>
    </div>

    @if (basketItems != null)
    {
        @if (basketItems.Count > 0)
        {
            <div class="origin-top-right absolute right-0 mt-0 w-112 rounded-md shadow-lg bg-white focus:outline-none transition ease-in-out duration-300 @DropdownTransformClass" role="menu" tabindex="-1" id="basket_items">
                <div class="p-4 text-right" role="none">
                    @foreach (BasketItem item in basketItems)
                    {
                        <div class="font-semibold text-sm flex items-center justify-end">
                            <div class="inline-block w-12 h-auto mr-2"><img src="@item.Product.ImageUrl" /></div>
                            <div class="inline-block flex-shrink-0">@item.Quantity &nbsp;x&nbsp; @item.Product.Name &nbsp;=</div>
                            <div class="ml-2 font-bold">£@item.Total.ToString("N2")</div>
                            <button type="button" class="inline-block ml-2 -mr-1 text-fotofuchsia" @onclick="() => DeleteItem(item)">
                                <!-- heroicons: x-circle (solid) -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                                </svg>
                            </button>
                        </div>
                    }
                </div>
                <div class="mt-2 px-4 text-right text-base font-bold">
                    Total:&nbsp; £@basketTotal.ToString("N2")
                </div>
                <div class="mt-2 px-4 text-right">
                    <button type="button" class="p-2 my-3 bg-fotoblue text-white rounded-sm text-sm hover:opacity-90 fotoblue-ripple" @onclick="GoToCheckout">
                        Checkout
                    </button>&nbsp;
                    <button type="button" class="p-2 my-3 bg-fotofuchsia text-white rounded-sm text-sm hover:opacity-90 fotofuchsia-ripple" @onclick="@(() => EmptyBasket(basketId))">
                        Empty basket
                    </button>
                </div>
            </div>
        }
        else
        {
            <div class="origin-top-right absolute right-0 mt-0 w-72 h-24 rounded-md shadow-lg bg-white focus:outline-none transition duration-300 transform ease-in-out @DropdownTransformClass" role="menu" tabindex="-1">
                <div class="p-4 text-center" role="none">
                    <span class="font-semibold text-sm">Your basket is currently empty</span>
                </div>
            </div>
        }
    }
</div>

@code {
    List<BasketItem> basketItems { get; set; }
    private Decimal basketTotal = 0;
    private string basketId = "";

    [CascadingParameter]
    public AppState appState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetBasket();
    }

    private bool collapseDropdown = true;
    private bool dropdownFirstUse = true;
    private string DropdownTransformClass => collapseDropdown ? "transform opacity-0 scale-90 -z-10" : "z-20";

    private async Task ToggleDropdown()
    {
        collapseDropdown = !collapseDropdown;

        if(!collapseDropdown || dropdownFirstUse) await GetBasket();

        dropdownFirstUse = false;
    }

    private async Task GetBasket()
    {
        var storedBasketId = await localStorage.GetItemAsync<string>("fs_basketId");

        if (!String.IsNullOrEmpty(storedBasketId))
        {
            basketId = storedBasketId;

            var basket = await basketService.GetBasketByID(basketId);
            basketItems = basket.BasketItems;
            basketTotal = basket.BasketTotal;  

            UpdateAppState();
        }
        else
        {
            basketItems = null;
        }
    }

    private async Task EmptyBasket(string basketId)
    {
        await basketService.DeleteBasket(basketId);
        await localStorage.RemoveItemAsync("fs_basketId");

        await GetBasket();
        appState.BasketItemCount = 0;

        toastService.ShowSuccess("Your basket has been emptied", "Empty basket");
    }

    private async Task DeleteItem(BasketItem item)
    {
        var basket = await basketService.GetBasketByID(basketId);

        basket.BasketItems.Remove(basket.BasketItems.FirstOrDefault(
                i => i.Product.Name == item.Product.Name &&
                i.Quantity == item.Quantity
            ));

        await basketService.UpdateBasket(basket);
        await GetBasket();

        toastService.ShowSuccess("The item has been removed from your basket", "Item deleted");
    }

    private async Task GoToCheckout()
    {
        await ToggleDropdown();
        navigationManager.NavigateTo("/checkout");
    }

    private void UpdateAppState()
    {
        appState.BasketItemCount = basketItems.Count;
    }
}
