@page "/products/details/{id:int}"

@using Store.BlazorWasm.DTOs
@using Store.BlazorWasm.Models
@using Store.BlazorWasm.Contracts
@using Blazored.LocalStorage

@inject IProductService productService
@inject IBasketService basketService
@inject ILocalStorageService localStorage
@inject IToastService toastService

<div class="md:container">
    @if (errorMessage != "")
    {
        <div class="mx-2 px-2 animate-pulse">
            <div class="alert-box" role="alert">
                <span class="block sm:inline">@errorMessage</span>
            </div>
        </div>
    }
    else if (product == null)
    {
        <text>Loading product details...</text>
    }
    else
    {
        <button class="p-2 my-3 bg-fotofuchsia text-white rounded-sm text-sm hover:opacity-90 fotofuchsia-ripple">
            <a href="/products" class="hover:text-white">Go Back</a>
        </button>

        <div class="mt-4 grid sm:grid-cols-1 lg:grid-cols-2 gap-16">
            <div class="w-full mx-4">
                <img src="@product.ImageUrl" />
            </div>
            <div>
                <div class="text-2xl font-bold mb-4">@product.Name</div>
                <div class="mb-4">
                    <span class="block text-gray-500 text-base mb-1">Brand: @product.Brand</span>
                    <span class="block text-gray-500 text-base">Category: @product.Category</span>
                </div>
                @if (product.SalePrice != 0 && product.SalePrice < product.Price)
                {
                    <div class="mb-4">
                        <span class="text-gray-500 text-base line-through mr-4">Was: £@product.Price</span>
                        <span class="inline text-gray-500 text-lg font-semibold">Now: £@product.SalePrice</span>
                    </div>
                }
                else
                {
                    <div class="mb-4">
                        <span class="block text-gray-500 text-lg font-semibold">£@product.Price</span>
                    </div>
                }

                @if (product.StockLevel == 0 || product.IsAvailable == false)
                {
                    <div class="font-bold text-base text-red-700 mb-2">Currently Out Of Stock</div>
                }
                else
                {
                    if (product.StockLevel < scarcityLevel)
                    {
                        <div class="font-bold text-base text-green-700 mb-2">Only @product.StockLevel Left In Stock!</div>
                    }
                    else
                    {
                        <div class="font-bold text-base text-green-700 mb-2">In Stock</div>
                    }

                    <button class="flex flex-row justify-start items-center bg-fotofuchsia p-2 rounded-sm mt-10 mb-4 sm:w-1/2 sm:text-center xl:w-1/3 hover:opacity-90 fotofuchsia-ripple">
                        <span class=" text-gray-50 ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                            </svg>
                        </span>
                        <span class="text-gray-50 text-base ml-3" @onclick="AddItemToBasket">Add to Basket</span>
                    </button>
                }

                <div class="text-base mb-4 text-justify">@product.Description</div>
            </div>
        </div>
    }
</div>
